<!-- About us -->
	        <div id="about" class="about-us">
	            <div class="container about-sec">
	                <header class="block-heading cleafix">
							<div class="title-page">
								<p class="main-header">メッセージ一覧</p>
							    <p class="sub-header">できることから始めよう</p>
							</div>
						</header>
	                <div class="divide50"></div>
	                <div class="row">
	                	
	                	<% @posts.each do |post| %>
		                    <div class="col-md-4 text-center">
		                        <div class="aboutus-item">
		                            <i class="aboutus-icon fa fa-plane"></i>
		                            <h4 class="aboutus-title"><%= post.name %>さんからの応援</h4>
		                            <% if post.body.length > 30 %>
		                              <p class="aboutus-desc"><%= truncate(post.body) %><%= link_to '続きを読む', post %></p>
		                            <% else %>
		                              <p class="aboutus-desc"><%= truncate(post.body) %></p>
		                            <% end %>
		                        </div>
		                    </div>
	                    <% end %>

	                </div>
		                <div class="col-md-4"></div>
			            <div class="col-md-4 text-center"><%= will_paginate @posts, renderer: BootstrapPagination::Rails %></div>        
			            <div class="col-md-4"></div>     
	            </div>
	           
	        </div>
	        
	        
	        <!-- /About us -->

